.personal-info-bar {
  background-color: #2E7D32;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

.personal-info-login {
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  margin-right: 70px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .personal-info-bar {
    padding: 10px;
  }
  .personal-info-login {
    font-size: 12px;
    margin-right: 10px;
    padding: 8px 12px;
  }
}
